
@font-face{
	font-family: 'Shrikhand';
	src: url('typo/Shrikhand-Regular.ttf') format('truetype');
    font-style: normal;
}

@font-face{
	font-family: 'Roboto-Regular';
	src: url('typo/Roboto-Regular.ttf') format('truetype');
}

@font-face{
	font-family: 'Roboto-Light';
	src: url('typo/Roboto-Light.ttf') format('truetype');
}

@font-face{
	font-family: 'Roboto-Bold';
	src: url('typo/Roboto-Bold.ttf') format('truetype');
}

@import "./variables";



// TEST MENU DEROULANT //

.menu {
    min-width: 33vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    overflow: hidden;
    transform-origin: top left;
    position: relative;
    animation: menu 661ms both;
    z-index: -10;
    white-space: nowrap;
    text-overflow: ellipsis;
            
  
    &__item {

        background: #fff;
        animation: menu__item 810ms cubic-bezier(.1,.9,.1,1) both;
        
        &--1 {
                animation-delay: 750ms;
        }
        &--2 
             {
                animation-delay: 850ms;
            }
        
        &--3 {
                animation-delay: 1000ms;
            }
    }
}


@keyframes menu__item {
    0% {
        transform: translateY(-550%);
        opacity: 0;
    }
    50%{
        opacity: 0;
    }

    99.9%{
        opacity: 20%;
    }
}
// FIN TEST MENU DEROULANT //



// coeur animation début

@keyframes backgroundtwo{
    0%{
      opacity:0;
    }
    50%{
      opacity:0.5;
    }
    100%{
      opacity:1;
    }
  }
.coeur_like{ 
    position: relative;
    box-sizing: border-box;
    width: 55px;
    height:55px;
    padding-right:10%;
    padding-top: 30px; 
    float: right;
   
   & .fa-heart{
        position:absolute;
        font-size:20px;  
        color: black;
        }
  & .fa-gradient{
    height:30px;
  }
  & .fa-gradient:hover{
            cursor:pointer; 
            font-weight:bold;
            animation: backgroundtwo 2s  ;
            background:$color-heart;
            -webkit-background-clip: text;
            color: transparent;
        }
  }          
// fin  coeur animation //

.loadspinner{

    h1{
        width: 100%;
    }
        text-align: center;
        align-content: center;
        position: absolute;
        overflow: hidden;
        margin-left: auto;
        left: 50%;
        transform: translate(-50%, 40%);
}




.page_chargement{
    position: fixed;
    background: white;
    background-repeat:repeat-x;
    width: 100%;
    min-height: 500vh;
    margin: auto;
    margin-top: -50px;
    padding-top: 300px;
    animation: disparition 4s cubic-bezier(1,0,.99,-0.1) forwards;
    opacity: 1;
    animation-iteration-count: 1;
    z-index: 1;
    overflow: hidden;

}

@keyframes disparition {
    0% {
        z-index: 1;
        opacity: 100%;
    }
    

    70%{
        opacity: 100%;
        z-index: 1;
    }

    100%{
        opacity: 0%;
        z-index: -10;
        
    }
}

.loader{
margin: 100px auto;
padding: 20px;
font-size: 50px;
}

.fa-drumstick-bite{
    color: $couleur1;
    font-size:30px;
}

.fa-cheese{
    color: $couleur2;
    font-size:30px;
}

.fa-apple-alt{
    color: $couleur3;
    font-size:30px;
}

.loader-dot {
	width: $loader-dot-size;
	height: $loader-dot-size;
    border-radius: 50%;
	border-radius: 50%;
	display: inline-block;
	margin: $loader-dot-margin;
	animation: 1s load-spinner infinite;
	animation-timing-function: ease-in-out;


	&--one {
		animation-delay: 0.4s;
	}

	&--two {
		animation-delay: 0.6s;
	}

	&--three {
		animation-delay: 0.8s;
	}
}

@keyframes load-spinner {
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}



body{
font-family:'Roboto-Regular';

margin: auto;
//overflow: hidden;

    h1{
        font-family: 'Shrikhand';
        
    }
    h2{
    font-size: 26px;
    font-family: 'Roboto-Bold';
    }

    h3{
        font-size: 14px;
    }

    h4{
        margin: 5px 0px 0px 0px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

header{
    background-color: white;
    text-align: center;

    .fa-arrow-left{
        float: left;
        font-size: 20px;
        color: black;
        padding: 15px;

        
        &:hover{
            color: $gris-moyen2;
        }
    }
   
}

#localisation{
    background-color: $gris-moyen;
    justify-content: center;
    display: flex;
    box-shadow: 0px 5px 5px 0px  rgba(0, 0, 0, 0.1) inset;
     

        .fas{
            margin: 15px 30px 0px 0px;
            color: black;
        }
}

#presentation_site, #restaurants_liste_acceuil{
    padding: 30px;
}

#presentation_site, .choix_etape, #restaurants_liste_acceuil{
background-color: $grisclair ;
}

#fonctionnement-liste{
    width: auto;
    margin: 10px;
    padding: 20px;
}

.titre_fonctionnement{
    padding: 10px;
    margin: 10px;

    h2{
        padding-left: 10px;
    }
}

.choix_etape{
    background-color: $grisclair ;
    display: flex;
    margin-bottom: 25px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px $gris-moyen;
    height: 50px;
    align-content: center;
    margin: 20px auto;
    align-items:center;
    
    .fas{
        color: $gris-moyen2;
        margin-right: 20px;
        align-items:center;
    }

    .chiffre
    {
        font-size: 12px;
        text-align: center;
        align-items:center;
        align-content: center;
        color: white;
        width: 15px;
        height: 15px;
        border-radius: 15px;
        background:$couleur1; 
        margin-right: 20px;
        margin-left: -10px;
    }

    &:hover{
        background-color: $couleur1clair;
        
            .fas{
               color: #9356DC; 
            }

    }
}

#presentation_site{
    text-align: center;
}

.btn_principal{
    font-family: 'Roboto-Regular';
    font-size: 15px;
    width: 200px;
    margin: auto;
    text-decoration: none;
    text-align: center;
    border-radius: 30px;
    box-shadow: 3px 3px 10px $gris-moyen2;
    margin-top: 50px;

    .linear-gradient {
        background: linear-gradient( $couleur2, $couleur1);
        border-radius: 30px;
        padding: 15px;
      }
     
    a{
        text-decoration:none;
        color: white;
    }

    &:hover{
        box-shadow: 3px 3px 10px $gris-fonce;
        
        .linear-gradient{
           filter: brightness(110%); 
        }

    }
}


.restaurant_description{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin:auto;
    align-items: center;
    align-content: center;
    margin-right: 35%;

    
}


.carte_restaurant{
    background-color: white;
    height: 250px;
    margin-bottom: 15px;
    border-radius: 30px;
    box-shadow: 3px 3px 10px 3px $gris-moyen;
    
    p, h4{
        margin: 10px;
    }

    .far, .logo_nouveau{
        display: flex;
        float: right;
        padding-right: 20px;
    }

    .logo_nouveau{
        background-color: $couleurvalide;
        padding: 8px;
        font-size: 12px;
        font-family: 'Roboto-Bold';
        color: rgb(21, 158, 112);
        margin: 20px;
    }

    #la_palette, #la_note, #la_francaise, #le_delice{
        height: 70%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 30%, 60%;
        border-radius: 30px 30px 0px 0px;
    }

    #la_palette{
        background-image: url('Maquettes Ohmyfood/images/restaurants/la_palette.jpg');
    }

    #la_note{
        background-image: url('Maquettes Ohmyfood/images/restaurants/la_note.jpg');
    }

    #la_francaise{
        background-image: url('Maquettes Ohmyfood/images/restaurants/la_francaise.jpg');
    }

    #le_delice{
        background-image: url('Maquettes Ohmyfood/images/restaurants/le_delice.jpg');
    }

    a{
        text-decoration: none;
        color:black;
    }

}


#menu_entier{
    background-color: $grisclair;
    border-radius: 30px 30px 0px 0px;
    padding: 10px 0px 100px 0px;
    margin-top: -50px;
 
    }
    
    #titre-menu{
        font-family: 'Shrikhand';
        font-size: 25px;
        padding: 20px 0px 0px 20px;
    }
    
        .sous-titre-menu{
            font-size: 14px;
            border-bottom: 3px solid $couleurvalide;
            width: 30px;
            margin: 15px; 
        }

        .btn_checked{
            background-color: $couleurvalide;
            color: white;
            height: 60px;
            width: 60px;
            transform: translate(100px);
            overflow: hidden;
            white-space: nowrap;
            display: inline-block;            
            }

        .choix_assiette{
            box-shadow: 3px 3px 10px 3px $gris-moyen;
            background-color: white;
            border-radius: 15px 15px 15px 15px;
            padding: 5px;
            font-size: 14px;
            width: auto;
            margin: 20px 10px 20px 10px;
            cursor: pointer;
            height: auto;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            .prix{
                float: right;
                overflow: hidden;
                margin-top: -20px;
                margin-right: -25px;
                white-space: nowrap;
                text-overflow: ellipsis;
                white-space: nowrap;
                transform: translateX(0px);
                align-items: center;
                align-content: center;
                
            }

                &:hover .btn_checked {
                    transform: translate(0px, 0px);
                    transition: transform 100ms ease-in-out;

                    & .fa-check-circle {
                        transform: rotate(1turn);
                        transition: transform 500ms ease-in-out;
                    }
   
            
                }

                &:hover {
                    .prix {
                        transform: translateX(-50px);
                        transition: transform 100ms ease-in-out;
                    }
                }

                span {
                    white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                }
        //}
}

span {
text-align: center;
display: flex;
float: right;
margin: -10px;

}


   .fa-check-circle{
        font-size: 20px;
        overflow:hidden;
        margin-top: 33%;       
    }


@keyframes cat {
	0% {
		transform: translateX(2000px);
	}
	100% {
		transform: translateX(0);
	}
}


.la_palette_img_bg, .la_note_img_bg, .le_delice_img_bg, .la_francaise_img_bg{
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30%, 60%;
}

.la_note_img_bg{
    background-image: url('Maquettes Ohmyfood/images/restaurants/la_note.jpg');
}

.la_palette_img_bg{
    background-image: url('Maquettes Ohmyfood/images/restaurants/la_palette.jpg');
}

.le_delice_img_bg{
    background-image: url('Maquettes Ohmyfood/images/restaurants/le_delice.jpg');
}
.la_francaise_img_bg{
    background-image: url('Maquettes Ohmyfood/images/restaurants/la_francaise.jpg');
}


footer{
    
    padding-top: 50px;
    background-color: $gris-fonce;
    color: white;
    font-family: 'Roboto-Regular';  
     p {
         padding: 0px;
     }
    .tous_les_liens{
        display: grid;
        flex-direction: column;
    }
    
    .lien_footer{
        margin-left: 5%;
        &:hover {
            text-decoration: underline;
        }
    }
    
        #titre_footer{
            font-family: 'Shrikhand';
            margin-left: 5%;
            font-size: 24px;
            padding-bottom: 20px;
        }

        .fas{
            float: left;
            margin-right: 20px;
        }

        a{
            text-decoration: none;
            color: white;
        }
}

/*----------------RESPONSIVE tablette ----------------------*/

@media all and (min-width: 650px) and (max-width: 1300px) {
    body{
        width: 100%;
        margin: auto;
    }

    #menu_complet{
        width: 50%;
        margin: auto;
        padding-top: 20px;
    }

        #menu_entier{
            overflow: hidden;


            .sous-titre-menu{
                padding-top: 20px;
            }
            
            .choix_assiette{
                width: 90%;
                margin: 10px auto;
                padding: 10px;
            }
        }

        #fonctionnement-liste{
            align-content: center;
            align-items:center;
            width: 40%;
            margin: auto;
            }



        .choix_etape{
            margin: 20px auto;
            padding:0px;
            align-content: center;
            align-items:center;

        }



.tous_les_liens{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2%;
    margin-left: 10%;
    margin-right: 5%;
}

#titre_footer{
    text-align: center;
}

}

/*----------------RESPONSIVE PC ----------------------*/

@media all and (min-width: 1300px) and (max-width: 4000px) {
    body{
        width: 80%;
        margin: auto;
    }

    #menu_entier{

        .sous-titre-menu{
            margin: auto;
        }
        
        .choix_assiette{
            margin: 30px auto;
            transform: scale(1);
            width: auto;
            transition-property: transform;
            transition-duration: 3s;
            width: auto;

            &:hover {
                transform: scale(1.05);
            }

        }
    }

    .carte_restaurant{
        height: 350px;
        transform: scale(1);
        transition-property: transform;
        transition-duration: 0.5s;

        &:hover {
            transform: scale(1.05);
        }
  
        .restaurant_description{
            width: 50%;
            margin: auto;
            padding-top: 20px;
        }
    }


        .choix_etape{
            margin: auto;
            width: 100%;
            padding:0px;
            align-content: center;
            align-items:center;
            padding-right: 30px;
            margin-right: 50px;
            align-items:center;
            
            .fas {
               
                align-content: center;
            align-items:center;
                }
        }

        #fonctionnement-liste{
        display: flex;
        justify-content: center;
        width: 90%;
        }

        #fonctionnement_site{
            margin: 50px 0px 50px 0px;
        }

        .liste_restaurant{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        column-gap: 30px;
        row-gap: 30px;
        }

        #menu_complet{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        column-gap: 50px;
        margin: auto;
        margin-top: 50px;
        align-content: center;
        width: 90%;
        padding-top: 50px;
        margin-left: 5%;
        margin-right: 5%;

        }
    

.tous_les_liens{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2%;
    margin-left: 10%;
    margin-right: 5%;
}

#titre_footer{
    text-align: center;
}

}
