@font-face {
  font-family: 'Shrikhand';
  src: url("typo/Shrikhand-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url("typo/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Light';
  src: url("typo/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url("typo/Roboto-Bold.ttf") format("truetype");
}

.menu {
  min-width: 33vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  overflow: hidden;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  position: relative;
  -webkit-animation: menu 661ms both;
          animation: menu 661ms both;
  z-index: -10;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu__item {
  background: #fff;
  -webkit-animation: menu__item 810ms cubic-bezier(0.1, 0.9, 0.1, 1) both;
          animation: menu__item 810ms cubic-bezier(0.1, 0.9, 0.1, 1) both;
}

.menu__item--1 {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.menu__item--1 > div {
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
}

.menu__item--2 {
  -webkit-animation-delay: 550ms;
          animation-delay: 550ms;
}

.menu__item--2 > div {
  -webkit-animation-delay: 850ms;
          animation-delay: 850ms;
}

.menu__item--3 {
  -webkit-animation-delay: 650ms;
          animation-delay: 650ms;
}

.menu__item--3 > div {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

@-webkit-keyframes menu {
  0% {
    -webkit-transform: scaleY(-3);
            transform: scaleY(-3);
  }
  33% {
    -webkit-transform: scaleY(-3);
            transform: scaleY(-3);
    -webkit-animation-timing-function: cubic-bezier(0.73, 0.01, 0.2, 0.99);
            animation-timing-function: cubic-bezier(0.73, 0.01, 0.2, 0.99);
  }
}

@keyframes menu {
  0% {
    -webkit-transform: scaleY(-3);
            transform: scaleY(-3);
  }
  33% {
    -webkit-transform: scaleY(-3);
            transform: scaleY(-3);
    -webkit-animation-timing-function: cubic-bezier(0.73, 0.01, 0.2, 0.99);
            animation-timing-function: cubic-bezier(0.73, 0.01, 0.2, 0.99);
  }
}

@-webkit-keyframes menu__item {
  0% {
    -webkit-transform: translateY(-550%);
            transform: translateY(-550%);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  99.9% {
    opacity: 20%;
  }
}

@keyframes menu__item {
  0% {
    -webkit-transform: translateY(-550%);
            transform: translateY(-550%);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  99.9% {
    opacity: 20%;
  }
}

@-webkit-keyframes backgroundtwo {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes backgroundtwo {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.coeur_like {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding-right: 50px;
  padding-top: 30px;
  float: right;
}

.coeur_like .fa-heart {
  position: absolute;
  font-size: 20px;
  color: black;
}

.coeur_like .fa-gradient {
  height: 75px;
}

.coeur_like .fa-gradient:hover {
  cursor: pointer;
  font-weight: bold;
  -webkit-animation: backgroundtwo  5s;
  animation: backgroundtwo 5s;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#fa79da));
  background: linear-gradient(#9356dc, #fa79da);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.loadspinner {
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: absolute;
  overflow: hidden;
  margin-left: auto;
  left: 50%;
  -webkit-transform: translate(-50%, 40%);
          transform: translate(-50%, 40%);
}

#corps_du_site {
  -webkit-animation: cat 3000ms 1300ms both cubic-bezier(0.9, 0, 0.1, 1);
          animation: cat 3000ms 1300ms both cubic-bezier(0.9, 0, 0.1, 1);
  overflow: hidden;
}

@-webkit-keyframes cat {
  0% {
    -webkit-transform: translateX(-9999px);
            transform: translateX(-9999px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes cat {
  0% {
    -webkit-transform: translateX(-9999px);
            transform: translateX(-9999px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.loader {
  margin: 100px auto;
  padding: 20px;
  font-size: 50px;
}

.fa-drumstick-bite {
  color: #9356DC;
  font-size: 30px;
}

.fa-cheese {
  color: #FF79DA;
  font-size: 30px;
}

.fa-apple-alt {
  color: #99E2D0;
  font-size: 30px;
}

.loader-dot {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  margin: 20px 20px 20px 0px;
  -webkit-animation: 1s load-spinner infinite;
          animation: 1s load-spinner infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.loader-dot--one {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.loader-dot--two {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.loader-dot--three {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

@-webkit-keyframes load-spinner {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes load-spinner {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  font-family: 'Roboto-Regular';
  margin: auto;
}

body h1 {
  font-family: 'Shrikhand';
}

body h2 {
  font-size: 26px;
  font-family: 'Roboto-Bold';
}

body h3 {
  font-size: 14px;
}

body h4 {
  margin: 5px 0px 0px 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

header {
  background-color: white;
  text-align: center;
}

header .fa-arrow-left {
  float: left;
  font-size: 20px;
  color: black;
  padding: 15px;
}

header .fa-arrow-left:hover {
  color: #8f8e8e;
}

#localisation {
  background-color: #eaeaea;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1) inset;
}

#localisation .fas {
  margin: 15px 30px 0px 0px;
  color: black;
}

#presentation_site, #restaurants_liste_acceuil {
  padding: 30px;
}

#presentation_site, .choix_etape, #restaurants_liste_acceuil {
  background-color: #f6f6f6;
}

#fonctionnement-liste {
  width: auto;
  margin: 10px;
  padding: 20px;
}

.titre_fonctionnement {
  padding: 10px;
  margin: 10px;
}

.titre_fonctionnement h2 {
  padding-left: 10px;
}

.choix_etape {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 10px #eaeaea;
          box-shadow: 5px 5px 10px #eaeaea;
  height: 50px;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 20px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.choix_etape .fas {
  color: #8f8e8e;
  margin-right: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.choix_etape .chiffre {
  font-size: 12px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: white;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background: #9356DC;
  margin-right: 20px;
  margin-left: -10px;
}

.choix_etape:hover {
  background-color: #f7ddfa;
}

.choix_etape:hover .fas {
  color: #9356DC;
}

#presentation_site {
  text-align: center;
}

.btn_principal {
  font-family: 'Roboto-Regular';
  font-size: 15px;
  width: 200px;
  margin: auto;
  text-decoration: none;
  text-align: center;
  border-radius: 30px;
  -webkit-box-shadow: 3px 3px 10px #8f8e8e;
          box-shadow: 3px 3px 10px #8f8e8e;
  margin-top: 50px;
}

.btn_principal .linear-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  padding: 15px;
}

.btn_principal a {
  text-decoration: none;
  color: white;
}

.btn_principal:hover {
  -webkit-box-shadow: 3px 3px 10px #474747;
          box-shadow: 3px 3px 10px #474747;
}

.btn_principal:hover .linear-gradient {
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

.restaurant_description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.carte_restaurant {
  background-color: white;
  height: 250px;
  margin-bottom: 15px;
  border-radius: 30px;
  -webkit-box-shadow: 3px 3px 10px 3px #eaeaea;
          box-shadow: 3px 3px 10px 3px #eaeaea;
}

.carte_restaurant p, .carte_restaurant h4 {
  margin: 10px;
}

.carte_restaurant .far, .carte_restaurant .logo_nouveau {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  padding-right: 20px;
}

.carte_restaurant .logo_nouveau {
  background-color: #99E2D0;
  padding: 8px;
  font-size: 12px;
  font-family: 'Roboto-Bold';
  color: #159e70;
  margin: 20px;
}

.carte_restaurant #la_palette, .carte_restaurant #la_note, .carte_restaurant #la_francaise, .carte_restaurant #le_delice {
  height: 70%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30%, 60%;
  border-radius: 30px 30px 0px 0px;
}

.carte_restaurant #la_palette {
  background-image: url("Maquettes Ohmyfood/images/restaurants/la_palette.jpg");
}

.carte_restaurant #la_note {
  background-image: url("Maquettes Ohmyfood/images/restaurants/la_note.jpg");
}

.carte_restaurant #la_francaise {
  background-image: url("Maquettes Ohmyfood/images/restaurants/la_francaise.jpg");
}

.carte_restaurant #le_delice {
  background-image: url("Maquettes Ohmyfood/images/restaurants/le_delice.jpg");
}

.carte_restaurant a {
  text-decoration: none;
  color: black;
}

#menu_entier {
  background-color: #f6f6f6;
  border-radius: 30px 30px 0px 0px;
  padding: 10px 0px 100px 0px;
  margin-top: -50px;
}

#titre-menu {
  font-family: 'Shrikhand';
  font-size: 25px;
  padding: 20px 0px 0px 20px;
}

.sous-titre-menu {
  font-size: 14px;
  border-bottom: 3px solid #99E2D0;
  width: 30px;
  margin: 15px;
}

.btn_checked {
  border-radius: 0px 20px 20px 0px;
  background-color: #99E2D0;
  color: white;
  height: 60px;
  width: 60px;
  -webkit-transform: translate(100px);
          transform: translate(100px);
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}

.choix_assiette {
  -webkit-box-shadow: 3px 3px 10px 3px #eaeaea;
          box-shadow: 3px 3px 10px 3px #eaeaea;
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  padding: 5px;
  font-size: 14px;
  width: auto;
  margin: 20px 10px 20px 10px;
  cursor: pointer;
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.choix_assiette .prix {
  float: right;
  overflow: hidden;
  margin-top: -20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.choix_assiette:hover .btn_checked {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition: -webkit-transform 100ms ease-in-out;
  transition: -webkit-transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out, -webkit-transform 100ms ease-in-out;
}

.choix_assiette:hover .btn_checked .fa-check-circle {
  -webkit-transform: rotate(1turn);
          transform: rotate(1turn);
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

.choix_assiette:hover .prix {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  -webkit-transition: -webkit-transform 100ms ease-in-out;
  transition: -webkit-transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out, -webkit-transform 100ms ease-in-out;
}

.choix_assiette span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

span {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  margin: -10px;
}

.fa-check-circle {
  font-size: 20px;
  overflow: hidden;
  margin-top: 33%;
}

@keyframes cat {
  0% {
    -webkit-transform: translateX(2000px);
            transform: translateX(2000px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.la_palette_img_bg, .la_note_img_bg, .le_delice_img_bg, .la_francaise_img_bg {
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30%, 60%;
}

.la_note_img_bg {
  background-image: url("Maquettes Ohmyfood/images/restaurants/la_note.jpg");
}

.la_palette_img_bg {
  background-image: url("Maquettes Ohmyfood/images/restaurants/la_palette.jpg");
}

.le_delice_img_bg {
  background-image: url("Maquettes Ohmyfood/images/restaurants/le_delice.jpg");
}

.la_francaise_img_bg {
  background-image: url("Maquettes Ohmyfood/images/restaurants/la_francaise.jpg");
}

footer {
  padding-top: 50px;
  background-color: #474747;
  color: white;
  font-family: 'Roboto-Regular';
  height: 200px;
}

footer #titre_footer {
  font-family: 'Shrikhand';
  padding-left: 40px;
  font-size: 24px;
}

footer .fas {
  float: left;
  margin-right: 20px;
}

footer ul {
  list-style-type: none;
}

footer li {
  margin-bottom: 10px;
}

footer a {
  text-decoration: none;
  color: white;
}

/*----------------RESPONSIVE tablette ----------------------*/
@media all and (min-width: 650px) and (max-width: 1300px) {
  body {
    width: 100%;
    margin: auto;
  }
  #menu_complet {
    width: 50%;
    margin: auto;
    padding-top: 20px;
  }
  #menu_entier {
    overflow: hidden;
  }
  #menu_entier .sous-titre-menu {
    padding-top: 20px;
  }
  #menu_entier .choix_assiette {
    width: 90%;
    margin: 10px auto;
    padding: 10px;
  }
  #fonctionnement-liste {
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 40%;
    margin: auto;
  }
  .choix_etape {
    margin: 20px auto;
    padding: 0px;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/*----------------RESPONSIVE PC ----------------------*/
@media all and (min-width: 1300px) and (max-width: 4000px) {
  body {
    width: 90%;
    margin: auto;
  }
  #menu_entier .sous-titre-menu {
    margin: auto;
  }
  #menu_entier .choix_assiette {
    margin: 30px auto;
    -webkit-transform: scale(1);
            transform: scale(1);
    width: auto;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 3s;
            transition-duration: 3s;
    width: auto;
  }
  #menu_entier .choix_assiette:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .carte_restaurant {
    height: 350px;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
  }
  .carte_restaurant:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .carte_restaurant .restaurant_description {
    width: 50%;
    margin: auto;
    padding-top: 20px;
  }
  .choix_etape {
    margin: auto;
    width: 100%;
    padding: 0px;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 30px;
    margin-right: 50px;
    align-items: center;
  }
  .choix_etape .fas {
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #fonctionnement-liste {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 90%;
  }
  #fonctionnement_site {
    margin: 50px 0px 50px 0px;
  }
  .liste_restaurant {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (2fr)[2];
        grid-template-columns: repeat(2, 2fr);
    -webkit-column-gap: 30px;
            column-gap: 30px;
    row-gap: 30px;
  }
  #menu_complet {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 50px;
            column-gap: 50px;
    margin: auto;
    margin-top: 50px;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 90%;
    padding-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
  }
  footer #titre_footer {
    text-align: center;
  }
  footer .tous_les_liens {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  footer .tous_les_liens .lien_footer {
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    margin-left: 15px;
    width: 100%;
  }
  footer .tous_les_liens .fas {
    margin-right: 10px;
  }
}
/*# sourceMappingURL=style.css.map */