    $couleur1:#9356DC;
    $couleur1clair:#f7ddfa;
    $couleur2:#FF79DA;
    $couleur3:#99E2D0;
    $gris-moyen: #eaeaea;
    $gris-moyen2: #8f8e8e;
    $gris-fonce:#474747;
    $grisclair: #f6f6f6;
    $couleurvalide: #99E2D0;
    $cd-navy: #0E397F;
    $cd-mint: #15dea5;